<p role="status">
    <button class="btn btn-primary" @onclick="DecrementCount">Prev</button>
    @(SkipCount + 1)
    <button class="btn btn-primary" @onclick="IncrementCount">Next</button>
</p>

@code {
    public int SkipCount { get; set; }

    [Parameter]
    public int PageSize { get; set; } = 5;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    [Parameter]
    public Action<int, int> InvokeAction { get; set; } = null!;

    [Parameter]
    public bool ReachMax { get; set; } = false;

    public int Limit => PageSize;

    public int Skip => SkipCount * PageSize;

    private void IncrementCount()
    {
        if (ReachMax)
        {
            return;
        }
        SkipCount += IncrementAmount;

        InvokeAction.Invoke(Skip, Limit);
    }

    private void DecrementCount()
    {
        if (SkipCount == 0)
        {
            return;
        }
        SkipCount -= IncrementAmount;
        InvokeAction.Invoke(Skip, Limit);
    }
}
