<div class="nav-item px-3">
    <NavLink class="nav-link" href="documents/1">
        Prihod
    </NavLink>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="documents/2">
        Rashod
    </NavLink>
</div>
